.App {
  text-align: center;
}

form{
  display: inline-block;
  background-color: skyblue;
}
form label{
  display: inline-block;
  width: 100px;
}

form div{
  margin: 10px;

}

.submitbutton{
  width: 350px;
}
/* input{
  border-color: blueviolet;
} */